j3d*
jogamp*
jogl*
Maven/*
JRTR/.settings/
*.7z
JRTR/bin*
*.class
.metadata*
*buddha*
*.classpath
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*peter_complete*
*armadillo.obj
*tyra.obj
JRTR/matlab/*
JRTR/python/temp/*
JRTR/out/*
.recommenders/*
.project