# Matlab
*.asv
*/output/*
output/*
/lightFields/rx_watch/*
/lightFields/rx_elephant/*
/lightFields/fruits/*
/lightFields/mona/*
/temp/*
/lightFields/legotruck*/*
/lightFields/tarot/large_angular_extent/*
/lightFields/tarot/small_angular_extent/*
/lightFields/beans/rectified/*
/lightFields/bunny/rectified/*
lightFields/4x4_cube.mat
lightFields/coke.mat
*.lfr
*.lfp
lightFields/cubes.mat
lightFields/gnome.mat
lightFields/cubes-1.mat
thesis/Document/Figures/texput.aux

